body{
  background-color: #080807e7;
}

.hero {
  height: 800px;
  width: 100%;
  background-image: url(./austin.jpg);
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  
}